@model KenTummersVerzamelingen2.ViewModels.ViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Categorieën Yu-Gi-Oh</h2>

<p>
    @Html.ActionLink("Maak nieuwe categorie aan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.parentYuGiOh)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ID }) |
                @{
                    if (User.Identity.GetUserName() == "ken.tummers@hotmail.nl" || User.Identity.GetUserName() == "Admin@admin.com")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        <text>|</text>
                    }
                }
                @{
                    if (User.Identity.GetUserName() == "Admin@admin.com")
                    {
                        if (item.Status == "Te akkorderen")
                        {
                            @Html.ActionLink("Akkorderen", "Akkorderen", new { id = item.ID })
                            <text>|</text>
                        }
                    }
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @{
                    if (User.Identity.GetUserName() == "ken.tummers@hotmail.nl" || User.Identity.GetUserName() == "Admin@admin.com")
                    {
                        <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                }
            </td>
        </tr>
    }

</table>

@if (Model.childYuGiOh == null)
{
    <h3>Yu-Gi-Oh</h3>

    <p>
        @{
            if (User.Identity.GetUserName() == "ken.tummers@hotmail.nl" || User.Identity.GetUserName() == "Admin@admin.com")
            {
                @Html.ActionLink("Nieuwe Yu-Gi-Oh kaart", "../ChildYuGiOh/Create", "ChildYuGiOh")
            }
        }
    </p>
    <p>
        Selecteer een categorie in de bovenstaande tabel.
    </p>
}

@if (Model.childYuGiOh != null)
{
    <h3>Yu-Gi-Oh kaarten</h3>

    <p>
        @{
            if (User.Identity.GetUserName() == "ken.tummers@hotmail.nl" || User.Identity.GetUserName() == "Admin@admin.com")
            {
                @Html.ActionLink("Nieuwe type Yu-Gi-Oh kaart", "Create", "ChildYuGiOh")
            }
        }
    </p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Categorie</th>
            <th>Waarde</th>
            <th>Prijs</th>
            <th>Type</th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model.childYuGiOh)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Waarde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prijs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @{
                        if (User.Identity.GetUserName() == "ken.tummers@hotmail.nl" || User.Identity.GetUserName() == "Admin@admin.com")
                        {
                            @Html.ActionLink("Edit", "../ChildYuGiOh/Edit", new { id = item.ID })
                            <text>|</text>
                        }
                    }
                    @{
                        if (User.Identity.GetUserName() == "Admin@admin.com")
                        {
                            if (item.Status == "Te akkorderen")
                            {
                                @Html.ActionLink("Akkorderen", "../ChildYuGiOh/Akkorderen", new { id = item.ID })
                                <text>|</text>
                            }
                        }
                    }
                    @Html.ActionLink("Details", "Details", "ChildYuGiOh", new { id = item.ID }, null)
                    @{
                        if (User.Identity.GetUserName() == "ken.tummers@hotmail.nl" || User.Identity.GetUserName() == "Admin@admin.com")
                        {
                            <text>|</text>
                            @Html.ActionLink("Delete", "../ChildYuGiOh/Delete", new { id = item.ID })
                        }
                    }
                </td>
            </tr>
        }

    </table>
}
